body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(36, 36, 36);
  color: white;
  position: fixed;
  width: 100%;
}

.header_bar {
  display: grid;
  grid-template-columns: 290px 1fr 100px;
  justify-content: center;
  padding: 0px 40px;
}

header nav {
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  width: 25vw;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 50px;
  margin: 20px 0px 0px 0px;
}

.shopping_bag {
  width: 40px;
  margin: 30px 30px;
}

header li {
  font-size: 22px;
  color: rgb(0, 0, 0);
  padding: 40px 25px;
}

header a {
  color: white;
}

li:hover {
  background-color: cadetblue;
  color: white;
}

main {
  display: grid;
  grid-template-columns: 300px 4fr 1fr;
  padding-top: 120px;
}

.main_content {
  display: grid;
  grid-template-rows: auto 1fr;
  /* grid-area: 2/3;
      grid-row: 1/2; */
}

.side_menu {
  /* grid-area: 1/2;
      grid-row: 1/2; */
  margin: 20px;
}

/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 10px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

label {
  color: #444;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: cadetblue;
  color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}

.product_show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  border: solid black 1px;
}

img {
  width: 100%;
  height: auto;
}

  @media (max-width: 1465px) {
    main {
      display: grid;
      grid-template-columns: 300px 1fr;
      padding-top: 120px;
    }
 }

 @media (max-width: 1880px) {
  main {
    display: grid;
    grid-template-columns: 300px 1fr;
    padding-top: 120px;
  }
}