:root {
  --hover-over-color: cadetblue;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(36, 36, 36);
  color: white;
  position: fixed;
  width: 100%;
}

.header_bar {
  display: grid;
  grid-template-columns: 290px 1fr 100px;
  justify-content: center;
  padding: 0px 40px;
}

header nav {
  display: flex;
  align-items: center;
}

.header_nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  width: 25vw;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 50px;
  margin: 20px 0px 0px 0px;
}

.shopping_bag {
  width: 40px;
  margin: 30px 30px;
}

header li {
  font-size: 22px;
  color: rgb(0, 0, 0);
  padding: 40px 25px;
}

header a {
  color: white;
}

li:hover {
  background-color: var(--hover-over-color);
  color: white;
}

main {
  display: grid;
  grid-template-columns: 300px 4fr 1fr;
  padding-top: 120px;
}

.main_content {
  display: grid;
  grid-template-rows: auto 1fr;
  /* grid-area: 2/3;
      grid-row: 1/2; */
}

.side_menu {
  /* grid-area: 1/2;
      grid-row: 1/2; */
  margin: 20px;
}

/* Style the button that is used to open and close the collapsible content */

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  margin: 10px 0px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

label {
  color: #444;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: var(--hover-over-color);
  color: white;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
}

.product_show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  grid-gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  /* border: solid black 1px; */
  padding: 0.7rem;
  background-color: rgb(246, 246, 246);
}

img {
  width: 100%;
  height: auto;
}

.burger_menu {
  display: none
}

@media only screen and (max-width: 940px) {
  main {
    grid-template-columns: 1fr;
    /* background-color: blue; */
    margin: 0px 20px;
  }

  .shopping_bag {
    width: 30px;
    margin: 30px 10px;
  }

h1 {
  text-align: center;
  padding-left: 10px;
  font-size: 40px;
}

.header_bar {
  grid-template-columns: auto 1fr auto;
  padding: 0;
}

  .burger_menu {
    display: block;
    width: 30px;
    margin: 30px 10px;
  }

  header nav {
  display: flex;
  justify-content: flex-end;
}

  .product_show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-gap: 1rem;
    justify-content: center;
  }

  .header_nav{
    display: none;
  }
  .product {
    width: 300px;

  }

  .side_menu {
    display: none;
  }

}

@media only screen and (min-width: 941px) and  (max-width: 1465px) {
  main {
    grid-template-columns: 300px 1fr;
  }
}

@media only screen and (min-width: 1466px) and (max-width: 2260px) {
  main {
    grid-template-columns: 300px 1fr;
  }
}
